@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}


/* VAriables */
:root {
    --pColor: rgb(98, 0, 255);
    --btn-color: white;
    --pColorHover: rgb(44, 9, 138);


    /* --pColor:#00B4D8; */
    /* for nav bar  */
    --pBackground: #131313;
    --pTextNav: white;
  
    --Background: #caf0f8;
    --hover: #90e0ef;
    --text-color-opacity: 80%;
  }
  


  /* Utilities */
  .pBtn{
    background-color: var(--pColor);
    color: var(--btn-color);
  }

.lightC{
  color: rgba(0, 0, 0, 0.555);
}
  .border-p{
    border: 1px solid var(--pColor);
  }

  .pColor{
    color: var(--pColor);
  }
/* Responsive Nav  */

  .overlay{
    width: 100%;
    background: #000000ad;
    top: 60px;
    position: absolute;
    display: block;

}

.mobileNav{
    border: none;
    height: 100vh;
    width: 71%;
    margin: 0;
}

.navItem{
  color: rgba(0, 0, 0, 0.644);
}
.navItem:hover{
  color: var(--pColor);
  }

