@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: var(--pBackground);
  color: black;
}


/* VAriables */
:root {
  --pColor: rgb(32, 4, 85);
  --btn-color: white;
  --pColorHover: rgb(44, 9, 138);

  /* --pColor:#00B4D8; */
  /* for nav bar  */
  --pBackground: #f7f6ff;
  --pTextNav: white;

  --Background: #caf0f8;
  --hover: #90e0ef;
  --text-color-opacity: 80%;
}
/* Scrollbar width  */

::-webkit-scrollbar {
  width: 0px;
}

/* Blink Animation  */
.blink {
  animation: blinker 1.5s linear infinite;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}
/* Ads  */
.ads {
  display: grid;
  /* margin: 0 10px; */
  place-items: center;
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.322); */
  height: 100px;
}

/* Utilities */

td,tr,th{
  border: 0.5px solid rgba(0, 0, 0, 0.205);
}
.pBtn {
  background-color: var(--pColor);
  color: var(--btn-color);
}
.modalColor {
  background-color: rgba(0, 0, 0, 0.699);
  /* opacity: 50%; */
}
.lightC {
  color: rgba(0, 0, 0, 0.555);
}
.colorBlack {
  color: black;
}
.border-p {
  border: 1px solid var(--pColor);
}

.pColor {
  color: var(--pColor);
}

.bgColor {
  background-color: var(--pColor);
}

/* Responsive Nav  */

.navUl {
  left: -100%;
}

.overlay {
  background: #000000ad;
  width: 100%;
  top: 60px;
  left: 0;
  position: absolute;
  display: block;
  transition: 0.5s all linear;
}

.mobileNav {
  left: 0%;
  border: none;
  /* left: 100%; */
  transition: 0.5s all ease;
  height: 100vh;
  width: 71%;
  margin: 0;
}

.navItem {
  width: 100%;
}
.navItem:hover {
  color: var(--pColor);
}

/* home Layouut */
.avtarP {
  background: var(--pBackground);
  width: 60px;
  height: 60px;
  font-weight: 700;
  border: 2px solid white;
  box-shadow: 2px 2px 10px rgb(3, 3, 109);
  color: var(--pColor);
  margin-right: 20px;
  display: grid;
  place-items: center;
  border-radius: 1000px;
}
.userData {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  background-color: var(--pColor);
}
.home {
  /* background-color: rgb(155, 136, 136); */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
  width: 100%;
}
.screenSidebar {
  background-color: rgb(255, 255, 255);
  /* border: 1px solid rgba(0, 0, 0, 0.158); */
  width: 20%;
  padding: 10px;
  /* margin-right: 20px; */
  height: 100vh;
}
.sideAds {
  width: 100%;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: rgb(146, 148, 165); */
}
.screenLayout {
  /* background-color: rgb(255, 0, 0); */

  padding: 0px 0px 20px 20px;
  height: 100vh;
  overflow-y: scroll;
  width: 80%;
}
.close {
  display: none;
}
.open {
  display: none;
}

.navItem:hover {
  color: var(--pColor);
  font-weight: 500;
}

@media only screen and (max-width: 770px) {
  .userData {
    text-align: center;
    flex-direction: column;
  }
  .avtarP {
    margin: 0;
  }
  .home {
    flex-direction: column;
  }
  .mobileNav {
    padding: 10px;
  }
  .screenSidebar {
    position: absolute;
    /* display: none; */
    top: 60px;
    height: 100vh;
    left: -100%;
    background-color: rgb(255, 255, 255);

    width: 100%;
    z-index: 1;
    transition: 0.2s all ease-in;
  }
  .screenLayout {
    /* background-color: yellow; */
    width: 100%;
    position: relative;
    padding: 0px;
    /* padding: 0 10px; */
    /* top: 20px; */
  }
  .close {
    display: block;
    font-size: 30px;
    position: absolute;
    right: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    top: 10px;
  }
  .open {
    display: block;
    padding: 0 5px;
    font-size: 30px;
    position: relative;
    background-color: white;
  }

  .detailWrap {
    margin-top: 10px;
    width: 100%;
  }
}

.openNav {
  display: block;
  left: 0%;
}

/* College Card */
.PContainer {
  width: 100%;
  display: flex;
  /* height: 150px; */
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  margin-bottom: 10px;
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.192); */
}
.PContainer .CImage {
  width: 10%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  align-items: center;
}

.CData {
  margin: 0 20px;
  /* background-color: rgb(187, 255, 0); */
  width: 60%;
  height: 100%;
}

.CBtn {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  /* background-color: red; */
}
